/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base), sans-serif;
  font-variation-settings: "wght" var(--font-weight-base);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  padding: var(--padding-medium, 100px) 0;
  justify-self: center;
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

.header {
  background-color: var(--background-color, #fff);
  padding: 122px 16px;
  border: var(--border, solid 2px #000);
  text-align: center;
  margin-block-end: var(--padding-medium, 100px);
  display: flex;
}

.page__block {
  inline-size: var(--inline-block-size, 375px);
  justify-content: center;
  flex-direction: column;
}

.header__logo {
  font-family: var(--font-accent), fantasy;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  font-size: var(--font-size-header-logo, 49px);
  display: inline-block;
  margin-block-end: 20px;
}

.header__title {
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-s);
  line-height: 100%;
  text-transform: uppercase;
  font-weight: inherit;
}

.card {
  background-color: var(--background-color);
  margin-block-end: 50px;
  border: var(--border, 2px solid #000);
}

.card__title {
  font-family: var(--font-base), sans-serif;
  font-size: var(--font-size-m);
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 5px 10px;
}

.card__image-container {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-s);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  right: var(--padding-small, 25px);
  top: var(--padding-small, 25px);
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  color: var(--color-label);
}

@supports (
  (text-stroke: 1px var(--color-label-stroke)) or
    (-webkit-text-stroke: 1px var(--color-label-stroke))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-label-stroke);
    text-stroke: 1px var(--color-label-stroke);
    text-shadow: none;
  }
}

.card__content {
  padding: var(--padding-small, 25px);
}

.card__paragraph {
  margin-bottom: var(--padding-small, 25px);
  font-size: var(--font-size-m);
  line-height: 1.169;
}

.card__like {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2.3px solid #000;
  outline-offset: -1px;
}

.like-icon:hover .core {
  transition-delay: 0s;
  fill: var(--core-hover-color);
}

.like-icon:hover .main-body {
  fill: var(--main-body-hover-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  transition-delay: 0s;
  fill: var(--core-active-color);
}

.like-icon:active .main-body {
  fill: var(--main-body-active-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--core-is-liked-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-is-liked-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--contour-is-liked-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-up 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: fill-in 0.3s ease-in 0.3s;
}

.heart {
  transform-origin: center;
}
.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  fill: transparent;
}

.button {
  border: var(--border, 2px solid #000);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--button-color-shadow);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  color: var(--extra-color);
  background-color: var(--background-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  background-color: transparent;
  padding: 8.5px;
  width: 130px;
  color: var(--extra-color);
}

.button__text {
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-s);
  justify-self: center;
  line-height: 90%;
  z-index: 2;
  mix-blend-mode: difference;
}

.saturate-filter {
  filter: saturate(25%);
}

.invert-filter {
  filter: invert(70%);
}

.brightness-filter {
  filter: brightness(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(7px);
}

.filter-mix {
  filter: hue-rotate(90deg) contrast(50%);
}

.save-button {
  padding: 17px 20px;
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: column;
  min-width: 306px;
  justify-self: center;
  color: var(--extra-color);
}

.dialog {
  padding: 30px 40px;
  border: var(--border);
  min-inline-size: 341px;
}

dialog::backdrop {
  background-color: var(--backdrop-color);
}

.dialog__description {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.disketa-icon {
  display: block;
  margin: 0 auto;
  block-size: 28px;
  aspect-ratio: 1/1;
}

.dialog__disketa-icon {
  aspect-ratio: 1/1;
  flex-shrink: 0;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  line-height: 1.5;
}

.dialog__button {
  text-transform: uppercase;
  padding: 9.5px;
  inline-size: 100%;
  color: var(--extra-color);
}

@media (width>=1024px) {
  .header {
    margin-block-end: 98px;
    padding: 130px 16px;
  }

  .header__title {
    font-size: 23px;
  }

  .save-button {
    padding: 17px 20px;
    display: flex;
    flex-direction: row;
    min-inline-size: 335px;
    justify-self: center;
  }

  .dialog {
    max-width: 353px;
  }

  .disketa-icon {
    block-size: 21px;
  }
}
